<div style="padding-top: 30px;"></div>
<div class="card bg-primary bmi" style="height: min-content; padding-top: 20px;padding-bottom: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img [src]="img" style="height: 200px;" alt="responsive webite" class="img-fluid rounded-circle">
            </div>
            <div style="padding-top: 20px;" class="col-xl-6 col-lg-6 col-md-6">
                <h4>{{myCoach.name}}</h4>
                <h5>Coach Id: {{myCoach.coachId}}</h5>
                <h6>Date of Birth: {{myCoach.dateOfBirth}}</h6>
                <h6>Mobile No: {{myCoach.mobileNumber}}</h6>
                <h6>Speciality: {{myCoach.speciality}}</h6>
            </div>
        </div>
    </div>
</div>
