.bg-primary {
  background-color: #090909 !important;
}

.h1, h2, h3, h4, h5, h6 {
  color: white;
  text-align: center;
}

.mmi {
  margin-left: 30%;
  margin-right: 25%;
  align-items: center;
}
.bmi {
  margin-left: 40%;
  margin-right: 35%;
  align-items: center;
}

.btn-primary {
  align-items: center;
}
.fade.modal {
  opacity: unset !important;
}
